<a href="/"><img src="https://farm2.staticflickr.com/1630/26010974126_687be28542.jpg"></a>

<h1>Index of All Saved Verses - Sorted By Chapter </h1>
<a href="/verses/new"><input type="submit" value="Add New Verse"></a>

  <h4> <%=  @message %> </h4>
<%@verses.each do |verse|%>
  <br><a href="verses/<%=verse.id%>/show"><h3> <%=verse.chapter%>:<%=verse.verse%> - <%=verse.chapter_name%></h3></a>
 <i><b>"<%= verse.content %>"</b></i>
  <br><br>Related Topics:
  <%verse.topics.each do |t|%>
    <a href="topics/<%=t.slug%>/show"><%=t.name%></a>
  <% end %><br>
  -----------------------------------------------------------------------------
<% end %>