<h1><a href="/"><img src="https://farm2.staticflickr.com/1630/26010974126_687be28542.jpg"></a></h1>
<h4>Logged In As: <%=User.find(session[:user_id]).username%> <a href="logout"><input type="submit" value="Log Out"></a><br></h4>
  <% unless locals.empty? %>
    <%= message %>
  <% end %>
<a href="/topics"><input type="submit" value="See All Topics"></a>
<a href="/verses"><input type="submit" value="See All Verses"></a>

<a href="/topics/new"><input type="submit" value="Create New Topic"></a>
<a href="/verses/new"><input type="submit" value="Add New Verse"></a>


<h2>Featured Topics:</h2>
<% unless @topics.empty? %>
  <% @topics.each do |t| %>
    <h4><a href="/topics/<%=t.slug%>/show"><%= t.name %></a> - <%= t.verses.count %> associated verse(s)</h4> 
  <% end %>
<% else %>
  There are currently no Topics.<br>Please start contributing!
<% end %>

